
@media only screen and (min-width: 767px)
{
    .mob-nav
    {
        display: inline-block;}
    .left-nav
    {
        display: none;
    }
}
@media only screen and (min-width: 767px)
{
    .left-nav
    {
        display: block;
    }
    .mob-nav
    {
        display: none;
    }
    
}
@media only screen and (max-width: 992px)
{
    .men-img,.women-img
    {
        
        background-position: top;
    
        
     }
    .lap-head,.men-head,.cam-head
    {
        font-size: 300%;
    }
}
@media only screen and (max-width: 767px)
{
   .imgslide
    {
        display: none;
    
    }
    .laptop-head
    {
        font-size: 60%;
    }
    .men-img,.women-img
    {
       height: 400px; 
    }
   .mobile-di
    {
      height: 650px;  
        background-color: #e6e6e6;
    }
    
    
}
@media only screen and (max-width: 574px)
{
     .mobile-di
    {
      height: 700px; 
        background-color: #e6e6e6;
    }
    .laptop-head
    {
        display: none;
        
    }
    .laptop-list
    {
        margin-left: 30%;
        margin-top: 30%;
    }

   
}