*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
html
{
    text-rendering: optimizeLegibility;
    font-family: "Open Sans";
    font-size: 20px;
}
/*Navigation*/
.navigation
{
    position: fixed;
    top:0;
    left: 0;
    width:100%;
    z-index: 9999;    
}
.navigation ul
{
    list-style: none;
}
.navigation ul li
{
    float: left;
    opacity: 0.8;
    background-color: black; 
    margin-left: 3%;
    width: 15%;
    height: 40px;
    margin-top: 18px;
    padding-top: 6px;
    border-radius: 5px;
    text-align: center;   
}

.navigation ul li ul
{
    background-color: black;
    list-style: none;
    display: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.navigation ul li ul li
{
    display: block;
    float: none;
}
.navigation ul li:hover ul
{
    display: block;
     
}

.navigation ul li a,.navigation ul li ul li a
{
    
    font-size: 150%;
    margin-left: 3px;
    text-decoration: none;
    color: #fff;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.navigation ul li ul li a
{
    padding-bottom: 3px;
    font-size: 120%;
    letter-spacing:2px;
}
.navigation ul li a:hover
{
    border-bottom: 2px solid #fff;
}
/*log in button*/
.log
{
    display: inline-block;
    position: absolute;
    left:80%;
    top: 18%;
}
.log button
{
    padding: 10px 15px;
    background-color: black;
    opacity: 0.8;
    color: #fff;
    width: 25%;
    height: 40px;
    border-radius: 5px;
    margin-right: 20px;
    border: 1px solid #454444;
    transition: background-color 0.5s,color 0.5s;
    
}
.log button:hover
{
   background-color: #fff; 
   color: #000;
}
.log button i
{
    padding-right: 10px;
    font-size: 120%;
}


/*Image Slider*/

.imgslide
{
    width: 100%;    
}
/*cpation on image slider*/
.lap-head
{
    position: absolute;
    font-size: 500%;
    top: 50%;
    left: 20%;
    color: #454444;
}

.men-head
{
    position: absolute;
    font-size: 500%;
    top: 30%;
    left: 20%;
    color: #c0392b;
}
.cam-head
{
    position: absolute;
    font-size: 400%;
    top: 50%;
    right: 15%;
    color: aliceblue;
}
.lap-head span
{
    font-size: 40%;
    padding: 7px;
    background-color:#454444;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #454444;
    transition: background-color 0.5s,color 0.5s;
}
.lap-head span:hover
{
    background-color: #fff;
    color: #454444;
}
.men-head span
{
    font-size: 40%;
    padding: 7px;
    border-radius: 5px;
    background-color:#c0392b;
    border: 1px solid #c0392b;
    color: aqua;
    transition: background-color 0.5s,color 0.5s;
}
.men-head span:hover
{
    background-color: aqua;
    color: #c0392b;
}
.cam-head span
{
    font-size: 40%;
    padding: 7px;
    border-radius: 5px;
    background-color: #a05204;
    border-radius: 5px;
    transition: background-color 0.5s,color 0.5s;
    
}
.cam-head span:hover
{
    background-color: #fff;
    color:#a05204;
}
/* Section2*/

.men-img
{
    background-image: url(Images/men-list.jpeg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.women-img
{
    background-image: url(Images/women-list.jpeg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.men-list,.women-list
{
    
    width: 100%;
    height: 100vh;
    background-color: #e6e6e6;
}

.men-list h2,.women-list h2
{
    margin-top: 100px;
    margin-left: 30px;
    
}
.men-menu li,.women-menu li,.laptop-list li
{
    list-style: none; 
    margin-top: 25px;
    display:block;
    border-bottom: 2px solid #fff; ;
    padding-bottom: 10px;
    transition: border-bottom 0.5s;
}
.men-menu li:hover,
.women-menu li:hover
{
    border-bottom: 2px solid #9a9a9a;
    
}
.men-menu li a,
.women-menu li a,
.laptop-list li a
{
    
    font-size: 150%;
    color: #000;
    padding-bottom: 10px;
    text-decoration: none;
    text-align: justify;
    
}
/*laptops*/
.laptops-sec
{
    background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(Images/pexels-photo-705675.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    
}

.h-1
{
    font-size: 400%;
    color: #dbdada;
    padding-top: 300px;
    padding-left: 50px;
}

.laptop-list
{
    height: 500px;  
    padding-top: 20%;
}
.laptop-list li
{
    border-bottom: 0;
    
}
.laptop-list li a

{
    color: #dbdada;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
     text-transform: uppercase;
    word-spacing: 4px;
}
.laptop-list li a:hover
{
    border-bottom: 2px solid #e67e22;
    text-transform: uppercase;
}

/*mobiles*/
.mobiles-div
{
    height: 100vh;
    background-color: #e6e6e6;
    
}
.mob-imgs,.mob-items
{
    margin-top: 100px;
    transition: transform 0.5s;
}
.mob-list
{
    list-style: none;
    
}
.mob-list li a
{
    display: block;
    font-size: 120%;
    text-decoration: none;
    color: #454444;
    padding: 10px;
    border-bottom: 1px solid #c1c1c1;
    word-spacing: 3px;
    letter-spacing: 1px;
    transition: transform 0.2s,color 0.2s,border-bottom 0.2s;
    
}
.mob-imgs:hover
{
    transform: scale(1.08);
}
.mob-list li a:hover
{
    color: #232222;
    transform: scale(1.03);
    border-bottom: 1px solid #868686;
}
/*footer*/
.foote

{
    background-color: #34495e;
    color: #7f8c8d;
}
.foote h4
{
    color: #95a5a6;
}
.foot-list,.social-icons,.foot-downlod 
{
    list-style: none;
    font-size: 120%;
    display: block;
    margin-top: 15px;
    margin-left: 10px;
}

.foot-list li
{
    
    padding: 3px;
    text-transform: uppercase;
}
.foot-list li a,.social-icons li a,.foot-downlod li 

{
    display: inline-block;
    margin-right: 20px;
    font-size: 140%;
    color: #fff;
    
}
.social-icons li
{
    display: inline-block;
    margin: 5px;
}

.social-icons li a:hover
{
    color: #3b5998;
}
.app-icon
{
    width: 150px;
    height: auto;
    margin-top: 5px;
}
.foot-downlod
{
    margin-left: 250px;
}






























