

/*navigation*/
.left-nav
{
    position: absolute;
    width: 300px;
    height: 214.5vh;
    
    top:80px;
    background-color:#2d3436;
    left: -300px;
    transition: left 0.5s;
    
    z-index: 100;
}
.active
{
    left:0px;
}
.mob-nav
{
    position: absolute;
    left: 310px;
    top: 15px;
    cursor: pointer;
    
}
.mob-nav i
{
 font-size: 200%;   
}
.category-list,.Occasion-list,.Discount-list,.Price-list
{
    list-style: none;  
}
.filters
{
    padding-bottom: 20px;
    margin: 26px;}
.category-list li ,.Occasion-list li ,.Discount-list li,.Price-list li
{
    text-decoration: none;
    color: #b2bec3;
    font-size: 130%;
    display: block;
    padding: 5px;
    padding-left: 20px;
    cursor: pointer;
    font-weight: 100;
    transition: color 0.2s;
}
.category-list li:hover ,.Occasion-list li:hover ,.Discount-list li:hover,.Price-list li:hover
{
    color: #636e72;
}
.category-list input,.Occasion-list input,.Discount-list input,.Price-list input
{
    display: inline-block;
    margin-right: 10px;
}
.filters h3
{
    padding-left: 20px;
    border-top: 1px solid #636e72;
    padding-top: 10px;
    color: #cce4ed;
    font-weight: 100;
    
}
.category-list h3
{
    border: none;
}
/*shopping items*/
.shopping
{
    width: 70%;
    margin-left: 25%;
    margin-top: 100px;
    height: auto;
   
    
    
    
}
.shopping-item
{
    height: 220px;
    width: auto;
    
    margin: 10px;
    cursor: pointer;
    padding-bottom: 30px;
        
}
.shopping-item:hover
{
 box-shadow: 3px 3px 3px 3px #b2b1b1;
}
.shopping-item img
{
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
}
.shopping-item i
{
    font-size: 170%;
    margin-bottom: 3px;

}
.shopping-item a
{
   display: block;
}

.shopping-item1 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.shopping-item1:hover .image{
  opacity: 0.3;
}

.shopping-item:hover .middle {
  opacity: 1;
}

.text {
  background-color: #2d3436;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 5px;
}


.lap-ad
{
    margin-left: 22.25%;
    
}
.lap-ad-cont
{
    overflow: hidden;
    background-color: #000;
}
.lap-ad-cont img
{
    transform: scale(1.08);
    opacity: 0.7;
    transition: transform 0.5s ,opacity 0.5s;
    cursor: pointer;
}
.lap-ad-cont img:hover
{
    transform: scale(1.03);
    opacity: 1;
}